/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/website.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
  z-index: -1;
}

.design {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/design.png);
  background-size: cover;
  background-position: center;
  opacity: .08;
}

.wrapper-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  margin-top: -4%;
  max-width: 80%;
}

div {
  display: block
}

.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.wrapper:after {
  content: '';
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid rgba(255, 255, 255, .2);
}

.wrapper-inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 337px;
  height: 337px;
  left: 50%;
  top: 50%;
  margin-left: -168px;
  margin-top: -168px;
  background-image: url(../img/circle.png);
  background-size: 100%;
}

/* Type
----------------------------- */

.name {
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.06em;
  font-weight: 300;
  font-family: 'Kavivanar', cursive;
  margin-bottom: 0;
  margin-top: 28px;
  text-transform: uppercase;
  color: black;
}

.byline {
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 14px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  color: black;
}

.divider {
  width: 80px;
  margin-top: 75px;
  border-color: rgba(255, 255, 255, .3);
  border-width: 0;
  border-bottom-width: 1px;
}

/*Social Media*/

.social-media {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 46.5%;
  letter-spacing: 3px;
  z-index: 1;
}

.social-media>ul>li {
  font-size: 2em;
}

a>i.fab {
  color: #353535;
}

.Resume-Site {
  position: inherit;
  bottom: 14%;
  left: 47%;
  background-color: #4264b8;
  font-size: 16px;
  border-radius: 8px;
  z-index: 1;
}

.Resume-Site a {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  color: #efefef;
  font-size: larger;
  font-family: brandon-grotesque;
  padding: 2px 5px;
}

footer {
  position: fixed;
  bottom: 0;
}

/* Handheld Devices */

@media (max-width: 768px) {
  .Resume-Site {
    left: 34.5%;
  }

  .social-media {
    left: 31.5%;
  }

  .name {
    font-size: 32px;
  }

  .byline {
    font-size: 13px;
  }
}